# Sanity (PUBLIC_ uniquement pour les valeurs sans secret)
PUBLIC_SANITY_PROJECT_ID=""
PUBLIC_SANITY_DATASET="production"
SANITY_API_WRITE_TOKEN=""

# Ulule
ULULE_PROJECT_ID=""
ULULE_SECONDARY_HREF=""
ULULE_SECONDARY_LABEL=""
