---
import BookShowcase from "../components/BookShowcase.astro";
import FeaturedBookHero from "../components/FeaturedBookHero.astro";
import Reviews from "../components/Reviews.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vanya Stolarski - Autrice & Illustratrice">
  <main class="overflow-hidden bg-[#FFFAFA]">
    <FeaturedBookHero />

    <BookShowcase />

    <Reviews />
    <!-- <Newsletter /> -->
  </main>
</Layout>
